.container{
  width:100%;
  padding-left:40px;
  padding-right:40px;
  background-color:rgba(255, 255, 255, 0.158);
  margin:auto;
  margin-top:50px;
  
}

.error{ color:red; }


.submit{ width:5%; background-color:green; }

.p{font-size: xxsmall;
  color: firebrick;

}

